pytest
flask
gunicorn==19.7.1
flask-cors==3.0.2
requests
pytest-cov
coverage
requests-futures
gevent
semantic_version
psycopg2
sqlalchemy
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
